:root {
    --branding-color: #212529;
    --caption-font-family: "Roboto", sans-serif;
    --secondary-color: white;
}


body{
    color: var(--secondary-color);
    background-color: var(--branding-color);

}

.montserrat-button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:normal;
  border-radius: 50px;
  background-color: var(--secondary-color);
  letter-spacing: 2px;
  padding: 18px;
  font-size: 14px;
  color: var(--branding-color);
  border: none;

}

.roboto-bold {
  font-family: var(--caption-font-family);
  font-weight: 700;
  font-style: normal;
}

h1 {
    margin-top: 72px !important;
    letter-spacing: 7px;
    font-size: 72px;
}

.hero {
    background-image: url(/media/danabw2.png);
    background-size: cover;
}

.caption {
      font-family: var(--caption-font-family);
}

p {
  font-family: var(--caption-font-family);
  font-style:normal; 
  font-size: 18px;
}