:root {
    --branding-color: #212529;
    --caption-font-family: "Roboto", sans-serif;
    --secondary-color: white;
    --tertiary-color: #272142;
}




body{
    color: var(--secondary-color);
    background-color: var(--branding-color);

}

.montserrat-button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  border-radius: 50px;
  background-color: var(--secondary-color);
  letter-spacing: 1.5px;
  padding: 30px, 18px;
  font-size: 14px;
  color: var(--tertiary-color);
  border: none;
}

h6 {
   color: #F65282; 
}

.description {
    font-family: var(--caption-font-family);
    letter-spacing: 10%;
    text-align: left;

}

.social-bar {
    display: flex;
    justify-content:space-around;
}
.logo {
  max-height: 60px; 
}


.roboto-bold {
  font-family: var(--caption-font-family);
  font-weight: 700;
  font-style: normal;
}

h1 {
    margin-top: 72px !important;
    letter-spacing: 7px;
    font-size: 72px;
}

.content-container {
  padding: 150px 20px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.hero {
    background-image: url(/media/danabw1.png);
    background-size: cover;
}

.caption {
      font-family: var(--caption-font-family);
}

p {
  font-family: var(--caption-font-family);
  font-style:normal; 
  font-size: 18px; 
  line-height: 1.5;
}
.card {
    font-family: var(--caption-font-family);
    border: none;
}
.card-title {
    font-weight: bolder;
    color: #F65282;
}

nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  list-style:none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: red;
}



nav ul {
  padding: 0;
  margin: 0;
  
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
    text-align: center;
  }

  nav li {
    margin-left: 10px;
  }

  h3 {
    font-size: 18px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  h6 {
    display: none;
  }

  .description {
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }


}